$breakpoint-md: 720px;
$breakpoint-lg: 1000px;

.settings-content {
  margin-top: 20px;

  // *:not(:first-child) #settings-content__inner {
  //   border-top: 1px solid black;
  // }
}

.settings-content__tab {
  background-color: #ffffff;
}

.settings-content__inner {
  display: flex;
  flex-direction: column;

  * {
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.settings-content__inner-actions {
  display: flex;
  flex-direction: row-reverse;
}

.info-text {
  margin-bottom: 8px;
}
