.home-search {
  margin-top: 20px;
}

.home-unauthenticated-container {
  margin-top: 20px;
  text-align: center;
}

.home-unauthenticated-container__button-group {
  display: flex;
  flex-direction: row;
  width: 200px;
}
